{
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  # "extends": "airbnb",
  "plugins": [ "react" ],
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  }
}
